.App{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.presentation{
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: multiply;
    background-color: rgb(0, 0, 0, 0.40);

}
.weather_app{
    min-height: 100vh;
    /* background-image: url('https://scied.ucar.edu/sites/default/files/styles/half_width/public/2021-10/cumulus-clouds.jpg?itok=qsNXhfWh'); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weather_app::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 0;
}
.conteiner{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}
.conteiner > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.city_time,.temp,.weather{
    margin: 0 1em;

}
.city_time{
    align-items: center;
}
.city_time h1{
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;

}

.temp{
    font-size: 7em;
    margin: 0;
}

.weather img{
    display: block;
    margin: 0.5em 0;
}
.panel{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(110, 110, 110, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}
.panel form{
    margin-bottom: 3em;
}
.submit {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    border: none;
    outline: none;
    background: #fa6d1b;
    color: #fff;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.4s;
}

.submit:hover{
    background: #fff !important;
    color: #000;
}

.search{
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5 0;
    width: 80%;
    color:#fff;
    font-size: 1.1em;
}

.search:focus{
    outline: none;
}
.search::placeholder {
    color: #ccc;
    
}
.panel ul{
    padding: 0 0 1em 0 ;
    margin:2em 0;
    border-bottom: 1px solid #ccc;

}
.panel ul li{
    color: #ccc;
    margin: 2.5em 0;
}
.panel ul h4{
    margin: 3em 0;
    
}
.city{
    display: block;
    cursor: pointer;
}
.city:hover{
    color: #fff;
}
.details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details1 li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.details1 span{
    cursor: pointer;
}



.found{
    width: 100%;
    height: 100vh;
    background: #e4e1e1;
    color: #000;
    display: flex;
    justify-content: center; 

}
.content-found{
    width: 600px;
    height: 400px;
    margin-top: 10rem;
    background: #fff;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.title-found{
    text-align: center;
    padding-top: 5rem;
}
.title-found h1{
    font-size: 100px;
    font-weight: bold;
    color: #313030;
}
.title-found span{
    color: #3993e1;
}
.title-found p{
    font-size: 20px;
}
.title-found input{
    margin-top: 2rem;
    padding: 9px 70px 9px 5px;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 4px 8px 0px rgba(34, 60, 80, 0.2);

}

.search-found{
    font-size: 18px;
    cursor: pointer;
    color: #313030;
    position: relative;
    top: 5px;
    left: -30px;
}